body{
    font: tahoma,arial;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.fundo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: white;
    opacity: 0.8;
}

.loader{
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 15em;
    right: 45%;
    z-index: 102;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.barra-superior{
    background: white;
    padding: 5px;
    /*--background-image: linear-gradient(to bottom right, #2782f2, #1a7f75);*/
    background: #2782f2;
}
.barra-superior .logo{
    display: inline-block;
    border-radius: 50%;
    height: 4em;
    width: 9em;
    transition: all .5s;
    color: white;
}
.barra-superior .logo:hover{
    background: #8db9e7;
    border-radius: 0%;
    cursor: pointer;
}

.barra-superior .logo:hover h1{
    color: black;
}

.barra-superior .logo img{
    border-radius: .5em;
    padding: 5%;
    height: 3em;
}
.barra-superior .logo h1{
    font-size: 16px;
    display: inline-block;
    position: relative;
    bottom: 1.5em;
    font-size: 1.1em;
    font: arial;
}

.info-log{
    display: inline-block;
    color: white;
}
.barra-superior .opcao-log{
    display: flex;
    height: 3em;
    display: inline-block;
    margin-right: 1em;
    float: right;
}

.barra-superior .opcao-log .btn-logar{
    align-items: center;
    margin: .5em;
    background: white;
    border: 2px solid black;
    display: inline-block;
    border-radius: 10%;
    padding: .5em;
    transition: all .5s;
    box-sizing: border-box;
    position: relative;
    overflow: inherit;
}

.barra-superior .btn-cadastro{
    display: none;
}

.opcao-log span{
    visibility: hidden;
    position: absolute;
    top: 3.7em;
    color: white;
    background: black;
    padding: .1em;
    border-radius: .5em;
    z-index: 1;
}

.btn-logar .tooltip-logar{
    left: .3em;
}

.btn-cadastro .tooltip-cadastro{
    left: -.6em;
}
.opcao-log span::after{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.btn-logar:hover .tooltip-logar{
    visibility: visible;
}

.btn-cadastro:hover .tooltip-cadastro{
    visibility: visible;
}

.barra-superior .opcao-log div:hover{
    background: #8db9e7;
}

.barra-superior .opcao-log img{
    height: 2em;
}

.login,.logout{
    padding: 1em;
    background-color: #185677;
    border: 1px solid black;
    border-radius: 15%;
    position: absolute;
    left: 40%;
    top: 200%;
    display: none;
    z-index: 101;
}

.login label{
    display: block;
    font-weight: bold;
}
.login input{
    width: 100%;
    height: 1.5em;
    margin-top: 2px;
}

.logout a{
    display: block;
    font-weight: bold;
    text-align: center;
}
.login button,.logout button{
    margin: 10px 0px 0px;
    padding: .5em;
    background-color: #1a7f75;
    color: white;
    border-radius: 10%;
}

.menu-principal{
    /*background-image: linear-gradient(to top right,#185677,#1a7f75);*/
    background: #185677;
    padding: .1em;
    position: relative;
}

.menu-principal ul .opcao{
    display: inline-block;
    color: white;
    margin: 0 2em;
    font-size: 1.04em;
    position: relative;
    transition: all .5s;
}

.menu-principal ul .opcao:hover{
    color: skyblue;
    position: relative;
    cursor: pointer;
}

.menu-principal .submenu{
    position: absolute;
    color: white;
    padding: 0px;
    background: #185677;
    text-align: center;
    top: 2.3em;
    width: 6em;
    border-radius: 0 0 1em 1em;
    left: -1.05em;
}

.menu-principal .submenu li{
    list-style: none;
    text-align: center;
    margin: .7em;
}

/* Cadastro turma */
.content-cadastro-turma{
    font-family: Optima, sans-serif;
}
.content-cadastro-turma h2{
    margin: 1em;
    color: #000324;
    font-family: Optima, sans-serif;
    text-align: center;
}

.content-cadastro-turma section{
    background: white;
    width: 98%;
    margin: auto;
}

.content-cadastro-turma fieldset,.content-bimestre fieldset{
    background: white;
    padding: 1em 0em;
}

.content-cadastro-turma label,.content-bimestre label{
    margin: 1em;
    font-weight: 500;
    font-size: 1em;
}

.content-cadastro-turma select,.content-bimestre select{
    margin: 0em 1em;
    font-size: 0.9em;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #8db9e7;
    color: white;
}

.content-cadastro-turma select:hover,.content-bimestre select:hover{
    background: #6b97c5;
}

.content-cadastro-turma input[name='nome']{
    padding: .3em;
    margin: 1em 0em 1em 1.7em;
    width: 20em;
    font-size: .8em;
    border: 2px solid #ccc;
    font-family: Optima, sans-serif;
    border-radius: 5px;
}

.formulario-aluno .selecionar-csv{
    background: #8db9e7;
    padding: .5em;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ccc;
    color: white;
}

.formulario-aluno .selecionar-csv:hover{
    background: #6b97c5;
}

.formulario-aluno .btn-importar-csv,.btn-carregar-disciplina{
    padding: .5em;
    background: #8db9e7;
    border-radius: 5px;
    color: white;
}

.formulario-aluno .btn-importar-csv:hover,.btn-carregar-disciplina:hover{
    background: #6b97c5;
}

.tabela-aluno{
    background: white;
    margin: 1em 1em;
    width: 70%;
}
.tabela-aluno{
    border-collapse:collapse;
}

.tabela-aluno thead tr:nth-child(1) th:nth-child(1){
    background: white;
    color: black;
    text-align: center;
    border: 1px solid white;
    font-size: 1.1em;
    padding: .3em;
}

.tabela-aluno tr:nth-child(even) {
    background-color: #eef;
}

.tabela-aluno th,.tabela-aluno tfoot tr{
    background: #1a7f75;
    color: white;
}

.tabela-aluno td,th{
    border: 1px solid black;
    border-radius: 5px;
    height: 1em;
    align-content: center;
}

.tabela-aluno td{
    text-align: center;
    font-size: .9em;
}

.tabela-aluno td img{
    width: 2.5em;
}

.tabela-aluno td img:hover{
    background: #8db9e7;
    border-radius: 5px;
}

.tabela-aluno input[name='nome-aluno']{
    width: 70%;
    padding: .2em;
    border-radius: 5px;
    border: 1px solid #999;
    text-align: center;
}

.tabela-aluno input[name='matricula']{
    width: 50%;
    padding: .2em;
    border-radius: 5px;
    border: 1px solid #999;
    text-align: center;
}

.tabela-aluno tfoot td{
    font-weight: bold;
    font-size: .9em;
}

.btn-cadastrar{
    margin: 1em 45% 0em;
    padding: .8em;
    border-radius: 5px;
    background: #185677;
    color: white;
    font-weight: bold;
    border: 2px solid #ccc;
    font-size: .9em;
    transition: all .5s;
}

.btn-cadastrar:hover{
    background: #063455
}

/*Conceito Bimestre*/
.habilidades{
    background: #deffd6;
    margin: .5em auto;
    width: 70em;
    border-radius: 10px;
}

.habilidades nav{
    background: white;
    margin: 0px auto;
    padding: 0em;
}

.habilidades ul{
    width: 37em;
    padding: 0px;
    background: #deffd6;
    border-radius: 10px 10px 0% 0%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.habilidades ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: .5em;
}

.habilidades ul li div{
    padding: .5em 1em;
    background: #185677;
    color: white;
    border: 1px solid #999;
    flex-shrink: 1;
    margin: 0px .3em;
}

.habilidades ul li div:hover{
    background: #063455;
}

.habilidades table{
    margin: 1em auto;
    border-collapse: collapse;
}

.descricao-habilidades tbody td{
    text-align: center;
}

.descricao-habilidades input[name='codigo']{
    text-transform: uppercase;
    width: 5em;
    height: 2.3em;
    text-align: center;
    font-size: 1em;
}

.descricao-habilidades textarea[name='descricao']{
    width: 60em;
    height: 3em;
    text-align: center;
    font-family: sans-serif;
    color: #555;
    
}

.descricao-habilidades td img{
    width: 1.7em;
    margin: 0 .5em;
}