body{
    font: tahoma,arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}
.barra-superior{
    background: #aaa;
    padding: 5px;
    width: 100%;
}
.barra-superior .logo{
    background: #ccc;
    display: inline-block;
    border-radius: 20%;
    height: 4em;
    width: 9em;
    transition: all .5s;
}
.barra-superior .logo:hover{
    background: #eee;
}

.barra-superior .logo img{
    border-radius: .5em;
    padding: 5%;
    height: 3em;
}

.barra-superior .logo h1{
    font-size: 16px;
    display: inline-block;
    position: relative;
    bottom: 1.5em;
    font-size: 18px;
    font: arial;
}
.barra-superior .opcao-log{
    display: flex;
    height: 3em;
    display: inline-block;
    margin-left: 75%;
    top: 1em;
}

.barra-superior .opcao-log div{
    align-items: center;
    margin: .5em;
    background: white;
    overflow: auto;
    display: inline-block;
    border-radius: 10%;
}

.barra-superior .opcao-log div:hover{
    background: #777;
}

.barra-superior .opcao-log img{
    height: 3em;
}

.menu-principal{
    background: black;
}

.menu-principal ul li{
    display: inline-block;
    
}